In [1]:
# dependencies
from sqlalchemy import create_engine, inspect, MetaData, select, text, Table, func
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base

# Create an engine that can talk to the database
engine = create_engine("sqlite:///Resources/la_crime.db", connect_args={'timeout': 30}, echo=False)
conn = engine.connect()

## Checking Database Data - using SQL

In [2]:
# Query data from crime table
crime_data = conn.execute("SELECT * FROM crime")

i = 0
for record in crime_data:
    print(record)
    i += 1
    if i == 10:
        break

(10304468, 2020, 1, 'January', '31-40', 'Black', 'Female', 34.0141, -118.2978, 3, 624, 501)
(20305364, 2019, 1, 'January', '41-50', 'Hispanic', 'Male', 34.0055, -118.2915, 3, 626, 502)
(170701073, 2018, 1, 'January', '11-20', 'Black', 'Male', 34.0421, -118.3456, 7, 888, 501)
(180100001, 2018, 9, 'September', '31-40', 'White', 'Female', 34.0382, -118.2889, 20, 510, 101)
(180100513, 2018, 1, 'January', '51-60', 'Black', 'Male', 34.0328, -118.2647, 1, 624, 101)
(180100514, 2018, 1, 'January', '31-40', 'White', 'Female', 34.0428, -118.2532, 1, 230, 108)
(180100516, 2018, 1, 'January', '11-20', 'Other', 'Male', 34.0454, -118.2422, 1, 740, 101)
(180100525, 2018, 1, 'January', '41-50', 'Hispanic', 'Male', 34.0487, -118.2588, 1, 624, 102)
(180100526, 2018, 1, 'January', '21-30', 'Hispanic', 'Female', 34.0487, -118.2588, 1, 624, 102)
(180100529, 2018, 1, 'January', '41-50', 'White', 'Male', 34.0713, -118.2291, 1, 740, 101)

In [3]:
# Query data from crime type table
crime_type_data = conn.execute("SELECT * FROM crime_type")

i = 0
for record in crime_type_data:
    print(record)
    i += 1
    if i == 10:
        break

(121, 'Sexual Assualt or Rape')
(122, 'Sexual Assualt or Rape')
(210, 'Theft, Robbery, or Burglary')
(220, 'Theft, Robbery, or Burglary')
(230, 'Assault')
(231, 'Assault')
(235, 'Child Maltreatment')
(236, 'Domestic Violence')
(237, 'Child Maltreatment')
(310, 'Theft, Robbery, or Burglary')

In [4]:
# Query data from crime table
area_data = conn.execute("SELECT * FROM area")

i = 0
for record in area_data:
    print(record)
    i += 1
    if i == 10:
        break

(1, 'Central')
(2, 'Rampart')
(3, 'Southwest')
(4, 'Hollenbeck')
(5, 'Harbor')
(6, 'Hollywood')
(7, 'Wilshire')
(8, 'West LA')
(9, 'Van Nuys')
(10, 'West Valley')

In [5]:
# Query data from crime table
premise_data = conn.execute("SELECT * FROM premise")

i = 0
for record in premise_data:
    print(record)
    i += 1
    if i == 10:
        break

(101, 'Freeway/Street')
(102, 'Sidewalk')
(103, 'Freeway/Street')
(104, 'Driveway')
(108, 'Parking Lot/Garage')
(109, 'Park')
(110, 'Freeway/Street')
(117, 'Beach')
(119, 'Residence')
(121, 'Yard')

## Joining the Tables

In [6]:
# creating database session
metadata = MetaData(bind=engine)
Base = automap_base(metadata=metadata)
# Use the Base class to reflect the database tables
Base.prepare(engine=engine, reflect=True)
Base.classes.keys()

['area', 'crime', 'crime_type', 'premise', 'la_crime']

In [7]:
# Collect the names of tables within the database
inspector = inspect(engine)
inspector.get_table_names()

['area', 'crime', 'crime_type', 'la_crime', 'premise']

In [8]:
# Using the inspector to print the column names within the 'crime' table and its types
columns = inspector.get_columns('crime')
for column in columns:
    print(column["name"], column["type"])

incident_id INTEGER
year INTEGER
month INTEGER
month_name VARCHAR
victim_age VARCHAR
victim_ethnicity VARCHAR
victim_gender VARCHAR
lat FLOAT
lon FLOAT
area_code INTEGER
crime_code INTEGER
premise_code INTEGER

In [9]:
# Reflect the database tables
metadata =  MetaData(bind=engine)
metadata.reflect()
crime_table = metadata.tables['crime']
area_table = metadata.tables['area']
crime_type_table = metadata.tables['crime_type']
premise_table = metadata.tables['premise']
crime_table

Table('crime', MetaData(bind=Engine(sqlite:///Resources/la_crime.db)), Column('incident_id', INTEGER(), table=<crime>, primary_key=True, nullable=False), Column('year', INTEGER(), table=<crime>), Column('month', INTEGER(), table=<crime>), Column('month_name', VARCHAR(), table=<crime>), Column('victim_age', VARCHAR(), table=<crime>), Column('victim_ethnicity', VARCHAR(), table=<crime>), Column('victim_gender', VARCHAR(), table=<crime>), Column('lat', FLOAT(), table=<crime>), Column('lon', FLOAT(), table=<crime>), Column('area_code', INTEGER(), ForeignKey('area.area_code'), table=<crime>), Column('crime_code', INTEGER(), ForeignKey('crime_type.crime_code'), table=<crime>), Column('premise_code', INTEGER(), ForeignKey('premise.premise_code'), table=<crime>), schema=None)

In [10]:
# Select the crime table
crime_type_tb = engine.execute(select([crime_type_table]))

# Get all the rows
rows = crime_type_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

49
(121, 'Sexual Assualt or Rape')

In [11]:
# Select the crime type table
crime_tb = engine.execute(select([crime_table]))

# Get all the rows
rows = crime_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

757085
(10304468, 2020, 1, 'January', '31-40', 'Black', 'Female', 34.0141, -118.2978, 3, 624, 501)

In [12]:
# Select the area table
area_tb = engine.execute(select([area_table]))

# Get all the rows
rows = area_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

21
(1, 'Central')

In [13]:
# Select the premise table
premise = engine.execute(select([premise_table]))

# Get all the rows
rows = premise.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

93
(101, 'Freeway/Street')

In [14]:
# Define the SQL query
sql = text("""SELECT * 
            FROM crime
            LEFT JOIN area ON crime.area_code = area.area_code
            LEFT JOIN premise ON crime.premise_code = premise.premise_code
            LEFT JOIN crime_type ON crime.crime_code = crime_type.crime_code""")

# Execute the SQL query
la_crime = engine.execute(sql)

In [15]:
# Print the column names
print(f"Columns: {la_crime.keys()}")

Columns: ['incident_id', 'year', 'month', 'month_name', 'victim_age', 'victim_ethnicity', 'victim_gender', 'lat', 'lon', 'area_code', 'crime_code', 'premise_code', 'area_code', 'area_name', 'premise_code', 'premise', 'crime_code', 'crime']

In [16]:
# Get all the rows
rows = la_crime.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

757085
(10304468, 2020, 1, 'January', '31-40', 'Black', 'Female', 34.0141, -118.2978, 3, 624, 501, 3, 'Southwest', 501, 'Residence', 624, 'Assault')

In [17]:
# print first 10 rows
i = 0
for row in rows:
    print(row)
    if i == 10:
        break
    i += 1

(10304468, 2020, 1, 'January', '31-40', 'Black', 'Female', 34.0141, -118.2978, 3, 624, 501, 3, 'Southwest', 501, 'Residence', 624, 'Assault')
(20305364, 2019, 1, 'January', '41-50', 'Hispanic', 'Male', 34.0055, -118.2915, 3, 626, 502, 3, 'Southwest', 502, 'Residence', 626, 'Domestic Violence')
(170701073, 2018, 1, 'January', '11-20', 'Black', 'Male', 34.0421, -118.3456, 7, 888, 501, 7, 'Wilshire', 501, 'Residence', 888, 'Trespassing')
(180100001, 2018, 9, 'September', '31-40', 'White', 'Female', 34.0382, -118.2889, 20, 510, 101, 20, 'Olympic', 101, 'Freeway/Street', 510, 'Vehicle Theft')
(180100513, 2018, 1, 'January', '51-60', 'Black', 'Male', 34.0328, -118.2647, 1, 624, 101, 1, 'Central', 101, 'Freeway/Street', 624, 'Assault')
(180100514, 2018, 1, 'January', '31-40', 'White', 'Female', 34.0428, -118.2532, 1, 230, 108, 1, 'Central', 108, 'Parking Lot/Garage', 230, 'Assault')
(180100516, 2018, 1, 'January', '11-20', 'Other', 'Male', 34.0454, -118.2422, 1, 740, 101, 1, 'Central', 101, 'Freeway/Street', 740, 'Vandalism')
(180100525, 2018, 1, 'January', '41-50', 'Hispanic', 'Male', 34.0487, -118.2588, 1, 624, 102, 1, 'Central', 102, 'Sidewalk', 624, 'Assault')
(180100526, 2018, 1, 'January', '21-30', 'Hispanic', 'Female', 34.0487, -118.2588, 1, 624, 102, 1, 'Central', 102, 'Sidewalk', 624, 'Assault')
(180100529, 2018, 1, 'January', '41-50', 'White', 'Male', 34.0713, -118.2291, 1, 740, 101, 1, 'Central', 101, 'Freeway/Street', 740, 'Vandalism')
(180100531, 2018, 1, 'January', '61-70', 'Black', 'Male', 34.0589, -118.2323, 1, 230, 102, 1, 'Central', 102, 'Sidewalk', 230, 'Assault')

## Creating the final table for running queries

In [18]:
# creating database session
session = Session(engine)
metadata = MetaData(bind=engine)
Base = automap_base(metadata=metadata)
# Use the Base class to reflect the database tables
Base.prepare(engine = engine, reflect = True)
Base.classes.keys()

['area', 'crime', 'crime_type', 'premise', 'la_crime']

In [19]:
# create the table in the database
metadata.create_all(bind=engine, checkfirst=True)

In [20]:
# Define the SQL query
sql = text("""SELECT * 
            FROM crime
            LEFT JOIN area ON crime.area_code = area.area_code
            LEFT JOIN premise ON crime.premise_code = premise.premise_code
            LEFT JOIN crime_type ON crime.crime_code = crime_type.crime_code""")
# Execute the SQL query
la_crime = engine.execute(sql)
rows = la_crime.fetchall()
print(len(rows))

# loop over the result set and insert each row into the new table
for row in rows:
    print(row)
    new_row = CrimeJoined(incident_id = row.incident_id, 
                       year = row.year,
                       month = row.month,
                       month_name = row.month_name,
                       victim_age = row.victim_age, 
                       victim_ethnicity = row.victim_ethnicity,
                       victim_gender = row. victim_gender,
                       lat = row.lat,
                       lon = row.lon,
                       area_code = row.area_code,
                       crime_code = row.crime_code, 
                       premise_code= row.premise_code,
                       area_name = row.area_name, 
                       crime = row.crime,
                       premise = row.premise)
    session.add(new_row)

# commit the changes
session.commit()

757085
(10304468, 2020, 1, 'January', '31-40', 'Black', 'Female', 34.0141, -118.2978, 3, 624, 501, 3, 'Southwest', 501, 'Residence', 624, 'Assault')

NameError: name 'CrimeJoined' is not defined

In [ ]:
inspector.get_table_names()

In [ ]:
# Select the la_crime table
la_crime = engine.execute(select([metadata.tables['la_crime_joined']]))

In [ ]:
# Get all the rows
rows = la_crime_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

## Data Queries - using SQLAlchamey (copy to flask app to create functions)

use the table named la_crime for all queries (class is CrimeJoined)

In [ ]:
# creating database session
session = Session(engine)
metadata = MetaData(bind=engine)
Base = automap_base(metadata=metadata)
# Use the Base class to reflect the database tables
Base.prepare(engine = engine, reflect = True)
Base.classes.keys()

In [ ]:
la_crime = engine.execute(select([metadata.tables['la_crime']]))

In [ ]:
# Data for overall line chart by year - number of total crimes
query = text("""
    SELECT count('crime'), year, month_name 
    FROM la_crime
    WHERE year = 2018 
    AND crime = 'Assault'
    GROUP BY month_name
    """)
result = engine.execute(query)
rows = result.fetchall()
crime_dict = []
for row in rows:
    print(row)
    crime_dict.append({"Month": row[2], "Total Crimes": row[0]})
print(crime_dict)

In [ ]:
query = text("""
    SELECT count('crime'), year, month_name 
    FROM la_crime
    WHERE year = 2018 
    AND crime = 'Assault'
    GROUP BY month_name
    ORDER BY CASE month_name
        WHEN 'January' THEN 1
        WHEN 'February' THEN 2
        WHEN 'March' THEN 3
        WHEN 'April' THEN 4
        WHEN 'May' THEN 5
        WHEN 'June' THEN 6
        WHEN 'July' THEN 7
        WHEN 'August' THEN 8
        WHEN 'September' THEN 9
        WHEN 'October' THEN 10
        WHEN 'November' THEN 11
        WHEN 'December' THEN 12
        ELSE 99
    END
""")
result = engine.execute(query)
rows = result.fetchall()
crime_dict = []
for row in rows:
    print(row)
    crime_dict.append({"Month": row[2], "Total Crimes": row[0]})
print(crime_dict)

In [21]:
# Data for overall victim by year and crime-dropped None values
query_age = text("""
    SELECT count(crime), year, Victim_age 
    FROM la_crime
    WHERE year = 2018 
    AND crime = 'Domestic Violence'
    AND crime IS NOT NULL
    AND Victim_age IS NOT NULL
    GROUP BY Victim_age
""")
result = engine.execute(query_age)
rows = result.fetchall()
crime_dict = []
for row in rows:
    print(row)
    crime_dict.append({"Month": row[2], "Total Crimes": row[0]})
print(crime_dict)

(8, 2018, '1-10')
(1115, 2018, '11-20')
(5726, 2018, '21-30')
(4274, 2018, '31-40')
(2315, 2018, '41-50')
(1158, 2018, '51-60')
(311, 2018, '61-70')
(83, 2018, '71+')
[{'Month': '1-10', 'Total Crimes': 8}, {'Month': '11-20', 'Total Crimes': 1115}, {'Month': '21-30', 'Total Crimes': 5726}, {'Month': '31-40', 'Total Crimes': 4274}, {'Month': '41-50', 'Total Crimes': 2315}, {'Month': '51-60', 'Total Crimes': 1158}, {'Month': '61-70', 'Total Crimes': 311}, {'Month': '71+', 'Total Crimes': 83}]

In [22]:
query_age = text("""
    SELECT count(crime), year, Victim_age 
    FROM la_crime
    WHERE year = 2018 
    AND crime = 'Domestic Violence'
    AND crime IS NOT NULL
    AND Victim_age IS NOT NULL
    GROUP BY year, Victim_age
""")
result = engine.execute(query_age)
rows = result.fetchall()
crime_dict = []
total_count = sum(row[0] for row in rows)
for row in rows:
    print(row)
    crime_dict.append({"Year": row[1], "Victim Age": row[2], "Total Crimes": row[0], "% of Total": round(row[0]/total_count*100,2)})
print(crime_dict)

(8, 2018, '1-10')
(1115, 2018, '11-20')
(5726, 2018, '21-30')
(4274, 2018, '31-40')
(2315, 2018, '41-50')
(1158, 2018, '51-60')
(311, 2018, '61-70')
(83, 2018, '71+')
[{'Year': 2018, 'Victim Age': '1-10', 'Total Crimes': 8, '% of Total': 0.05}, {'Year': 2018, 'Victim Age': '11-20', 'Total Crimes': 1115, '% of Total': 7.44}, {'Year': 2018, 'Victim Age': '21-30', 'Total Crimes': 5726, '% of Total': 38.2}, {'Year': 2018, 'Victim Age': '31-40', 'Total Crimes': 4274, '% of Total': 28.51}, {'Year': 2018, 'Victim Age': '41-50', 'Total Crimes': 2315, '% of Total': 15.44}, {'Year': 2018, 'Victim Age': '51-60', 'Total Crimes': 1158, '% of Total': 7.73}, {'Year': 2018, 'Victim Age': '61-70', 'Total Crimes': 311, '% of Total': 2.07}, {'Year': 2018, 'Victim Age': '71+', 'Total Crimes': 83, '% of Total': 0.55}]

In [ ]:
from sqlalchemy import create_engine

# Create engine and connect to database
engine = create_engine("sqlite:///Resources/la_crime.db")
connection = engine.connect()

# Query to fetch column names
query_cols = "PRAGMA table_info(la_crime)"
result_cols = connection.execute(query_cols)

# Extract column names from result set
cols = [row[1] for row in result_cols]

# Print column names
print(cols)

# Close connection
connection.close()

In [ ]:
# 1-crime data by year
query = text("""
    SELECT count('crime'), year, month_name 
    FROM la_crime
    WHERE year = 2018 
    AND crime = 'Assault'
    GROUP BY month_name
    ORDER BY CASE month_name
        WHEN 'January' THEN 1
        WHEN 'February' THEN 2
        WHEN 'March' THEN 3
        WHEN 'April' THEN 4
        WHEN 'May' THEN 5
        WHEN 'June' THEN 6
        WHEN 'July' THEN 7
        WHEN 'August' THEN 8
        WHEN 'September' THEN 9
        WHEN 'October' THEN 10
        WHEN 'November' THEN 11
        WHEN 'December' THEN 12
        ELSE 99
    END
""")
result = engine.execute(query)
rows = result.fetchall()
crime_dict = []
for row in rows:
    print(row)
    crime_dict.append({"Month": row[2], "Total Crimes": row[0]})
print(crime_dict)

In [ ]:
# 2- Data for victim_ethnicity %
query_age = text("""
  SELECT victim_ethnicity, count(*) AS total_count
    FROM la_crime
    WHERE year = 2018
    AND crime = 'Burglary from Vehicle'
    GROUP BY victim_ethnicity 
    """)
result = engine.execute(query_age)
rows = result.fetchall()
race_dict = []
total_count = 0
for row in rows:
    print(row)
    race_dict.append({"Ethnicity": row[0], "Count": row[1]})
    total_count += row[1]
print(race_dict, total_count)
for d in race_dict:
    d["Total People"] = total_count
    d["Ethnicity %"] = round((d["Count"]/d["Total People"]) * 100)
print(race_dict)

In [ ]:
# 3- Crme by gender%
query_gender = text("""
    SELECT count(crime), crime, victim_gender 
    FROM la_crime
    WHERE year = 2018 
    AND crime = "Trespassing"
    AND crime IS NOT NULL
    AND victim_gender IS NOT NULL
    GROUP BY crime, victim_gender
""")
result = engine.execute(query_gender)
rows = result.fetchall()

gender_dict = []
for crime in set([row[1] for row in rows]):
    crime_count = sum([row[0] for row in rows if row[1] == crime])
    for gender in set([row[2] for row in rows if row[1] == crime]):
        gender_count = sum([row[0] for row in rows if row[1] == crime and row[2] == gender])
        gender_dict.append({
            #"Crime Type": crime,
            "Victim Gender": gender,
            "Total Crimes": gender_count,
            "% of Total": round((gender_count/crime_count)*100, 2)
        })

print(gender_dict)

In [31]:
#-4 Crime cout by gender and crime tpe
crime_gender = text("""
    SELECT count(crime), crime, victim_gender 
    FROM la_crime
    WHERE year = "year"
    AND crime IS NOT NULL
    AND victim_gender IS NOT NULL
    GROUP BY crime, victim_gender
""")
result = engine.execute(query_gender)
rows = result.fetchall()

crim_gender_dict = []
for row in rows:
    crim_gender_dict.append({
        "Crime Type": row[1],
        "Victim Gender": row[2],
        "Total Crimes": row[0]
    })

print(crim_gender_dict)

[{'Crime Type': 'Assault', 'Victim Gender': 'Female', 'Total Crimes': 12058}, {'Crime Type': 'Assault', 'Victim Gender': 'Male', 'Total Crimes': 17183}, {'Crime Type': 'Bike Theft', 'Victim Gender': 'Female', 'Total Crimes': 661}, {'Crime Type': 'Bike Theft', 'Victim Gender': 'Male', 'Total Crimes': 1606}, {'Crime Type': 'Brandish Weapon', 'Victim Gender': 'Female', 'Total Crimes': 1019}, {'Crime Type': 'Brandish Weapon', 'Victim Gender': 'Male', 'Total Crimes': 1677}, {'Crime Type': 'Burglary from Vehicle', 'Victim Gender': 'Female', 'Total Crimes': 12224}, {'Crime Type': 'Burglary from Vehicle', 'Victim Gender': 'Male', 'Total Crimes': 15851}, {'Crime Type': 'Child Maltreatment', 'Victim Gender': 'Female', 'Total Crimes': 1252}, {'Crime Type': 'Child Maltreatment', 'Victim Gender': 'Male', 'Total Crimes': 790}, {'Crime Type': 'Criminal threat', 'Victim Gender': 'Female', 'Total Crimes': 2587}, {'Crime Type': 'Criminal threat', 'Victim Gender': 'Male', 'Total Crimes': 2281}, {'Crime Type': 'Domestic Violence', 'Victim Gender': 'Female', 'Total Crimes': 11585}, {'Crime Type': 'Domestic Violence', 'Victim Gender': 'Male', 'Total Crimes': 3434}, {'Crime Type': 'Extortion', 'Victim Gender': 'Female', 'Total Crimes': 118}, {'Crime Type': 'Extortion', 'Victim Gender': 'Male', 'Total Crimes': 296}, {'Crime Type': 'Forgery', 'Victim Gender': 'Female', 'Total Crimes': 558}, {'Crime Type': 'Forgery', 'Victim Gender': 'Male', 'Total Crimes': 675}, {'Crime Type': 'Identity Theft', 'Victim Gender': 'Female', 'Total Crimes': 5210}, {'Crime Type': 'Identity Theft', 'Victim Gender': 'Male', 'Total Crimes': 5250}, {'Crime Type': 'Sexual Assualt or Rape', 'Victim Gender': 'Female', 'Total Crimes': 3277}, {'Crime Type': 'Sexual Assualt or Rape', 'Victim Gender': 'Male', 'Total Crimes': 359}, {'Crime Type': 'Theft, Robbery, or Burglary', 'Victim Gender': 'Female', 'Total Crimes': 19979}, {'Crime Type': 'Theft, Robbery, or Burglary', 'Victim Gender': 'Male', 'Total Crimes': 25087}, {'Crime Type': 'Trespassing', 'Victim Gender': 'Female', 'Total Crimes': 904}, {'Crime Type': 'Trespassing', 'Victim Gender': 'Male', 'Total Crimes': 1112}, {'Crime Type': 'Vandalism', 'Victim Gender': 'Female', 'Total Crimes': 8375}, {'Crime Type': 'Vandalism', 'Victim Gender': 'Male', 'Total Crimes': 8981}, {'Crime Type': 'Vehicle Theft', 'Victim Gender': 'Female', 'Total Crimes': 123}, {'Crime Type': 'Vehicle Theft', 'Victim Gender': 'Male', 'Total Crimes': 242}, {'Crime Type': 'Violation of Reatraining Order', 'Victim Gender': 'Female', 'Total Crimes': 1897}, {'Crime Type': 'Violation of Reatraining Order', 'Victim Gender': 'Male', 'Total Crimes': 511}]

In [ ]:
#crime by ethnicity
query_ethnicity = text("""
    SELECT count(crime), crime, victim_ethnicity 
    FROM la_crime
    WHERE year = 2018 
    AND crime IS NOT NULL
    AND victim_ethnicity IS NOT NULL
    GROUP BY crime, victim_ethnicity
""")
result = engine.execute(query_ethnicity)
rows = result.fetchall()
crime_dict = []
for crime in set([row[1] for row in rows]):
    crime_rows = [row for row in rows if row[1] == crime]
    crime_dict_entry = {"Crime Type": crime, "Victim Ethnicity": []}
    total_count = sum(row[0] for row in crime_rows)
    for row in crime_rows:
        crime_dict_entry["Victim Ethnicity"].append({"Ethnicity": row[2], "Total Crimes": row[0], "% of Total": round(row[0]/total_count*100,2)})
    crime_dict.append(crime_dict_entry)
print(crime_dict)

In [ ]:
query_ethnicity = text("""
    SELECT count(crime), crime, victim_ethnicity 
    FROM la_crime
    WHERE year = 2018 
    AND crime IS NOT NULL
    AND victim_ethnicity IS NOT NULL
    GROUP BY crime, victim_ethnicity
""")
result = engine.execute(query_ethnicity)
rows = result.fetchall()
crime_dict = []
total_count = sum(row[0] for row in rows)
for row in rows:
    print(row)
    crime_dict.append({"Crime Type": row[1], "Victim Ethnicity": row[2], "Total Crimes": row[0], "% of Total": round(row[0]/total_count*100,2)})
print(crime_dict)

In [ ]:
query_location = text("""
    SELECT lat, lon, area_name, crime, premise, count(crime) as total_crimes 
    FROM la_crime 
    WHERE year = 2018 
    AND crime IS NOT NULL 
    AND lat IS NOT NULL 
    AND lon IS NOT NULL 
    AND area_name IS NOT NULL 
    AND premise IS NOT NULL 
    GROUP BY lat, lon, area_name, crime, premise 
""")
result = engine.execute(query_location)
rows = result.fetchall()
crime_dict = []
for row in rows:
    crime_dict.append({
        "Latitude": row[0],
        "Longitude": row[1],
        "Area Name": row[2],
        "Crime Type": row[3],
        "Premise": row[4],
        "Total Crimes": row[5]
    })
print(crime_dict)

In [ ]:
query_location = text("""
    SELECT lat, lon, area_name, crime, premise 
    FROM la_crime
    WHERE year = 2018 
    AND crime IS NOT NULL
    AND lat IS NOT NULL
    AND lon IS NOT NULL
    AND area_name IS NOT NULL
    AND premise IS NOT NULL
    LIMIT 10
""")
result = engine.execute(query_location)
rows = result.fetchall()
crime_dict = []
for row in rows:
    print(row)
    crime_dict.append({"Latitude": row[0], "Longitude": row[1], "Area Name": row[2], "Crime Type": row[3], "Premise": row[4]})
print(crime_dict)

In [ ]:
#query to show crime by year, geoloc, area, premis and crime typ
query_location = text("""
    SELECT count(crime), lat, lon, area_name, crime, premise, year
    FROM la_crime
    WHERE year = year 
    AND crime IS NOT NULL
    AND lat IS NOT NULL
    AND lon IS NOT NULL
    AND area_name IS NOT NULL
    AND premise IS NOT NULL
    GROUP BY lat, lon, area_name, crime, premise
    LIMIT 200
""")
result = engine.execute(query_location)
rows = result.fetchall()
crime_dict = []
for row in rows:
    crime_dict.append({"Year": row[6], "Crime Type": row[4], "Premise": row[5], "Area Name": row[3], "Latitude": row[1], "Longitude": row[2], "Total Crimes": row[0]})
print(crime_dict)

In [ ]:
#query to show crime by year, geoloc, area, premis and crime typ
query_location = text("""
    SELECT count(crime), lat, lon, area_name, crime, premise, year
    FROM la_crime
    WHERE year = 2018
    AND crime = "Assault"
    AND crime IS NOT NULL
    AND lat IS NOT NULL
    AND lon IS NOT NULL
    AND area_name IS NOT NULL
    AND premise IS NOT NULL
    GROUP BY lat, lon, area_name, crime, premise
    LIMIT 200
""")
result = engine.execute(query_location)
rows = result.fetchall()
crime_dict = []
for row in rows:
    crime_dict.append({"Year": row[6], "Crime Type": row[4], "Premise": row[5], "Area Name": row[3], "Latitude": row[1], "Longitude": row[2], "Total Crimes": row[0]})
print(crime_dict)

In [ ]:
# Define the la_crime class , which will have a one-to-one relationship with the Area, premise and crime type tables
class CrimeJoined(Base):
    __tablename__ = 'la_crime'
    id = Column(Integer, primary_key=True, autoincrement=True)
    incident_id = Column(Integer)
    year = Column(Integer)
    month = Column(Integer)
    month_name = Column(String)
    victim_age = Column(String)
    victim_ethnicity = Column(String)
    victim_gender = Column(String)
    lat = Column(Float)
    lon = Column(Float)
    area_code = Column(Integer)
    crime_code = Column(Integer)
    premise_code = Column(Integer)
    area_name = Column(String, nullable=False)
    crime = Column(String, nullable=False)
    premise = Column(String, nullable=False)