In [1]:
# dependencies
from sqlalchemy import create_engine
# Create an engine that can talk to the database
engine = create_engine("sqlite:///Resources/la_crime.db")

## Checking Database Data

In [8]:
# Query data from crime table
crime_data = engine.execute("SELECT * FROM crime")

i = 0
for record in crime_data:
    print(record)
    i += 1
    if i == 10:
        break

(180512192, 2018, 6, 'June', '31-40', 'Hispanic', 'Female', 33.7932, -118.2648, 5, 626, 501)
(181211151, 2018, 4, 'April', '51-60', 'Hispanic', 'Female', 33.9891, -118.3167, 12, 624, 101)
(180220154, 2018, 9, 'September', '61-70', 'Hispanic', 'Female', 34.0529, -118.2733, 2, 624, 502)
(190909830, 2018, 10, 'October', '31-40', 'Hispanic', 'Female', 34.1867, -118.4181, 9, 440, 502)
(181113371, 2018, 7, 'July', '71+', 'White', 'Male', 34.1008, -118.2665, 11, 440, 501)
(182019832, 2018, 8, 'August', '31-40', 'Asian', 'Female', 34.0588, -118.2941, 20, 440, 502)
(181421617, 2018, 10, 'October', '31-40', 'White', 'Male', 34.029, -118.4032, 14, 480, 707)
(180810320, 2018, 5, 'May', '51-60', 'White', 'Male', 34.0711, -118.46700000000001, 8, 649, 501)
(180106451, 2018, 2, 'February', '21-30', 'Hispanic', 'Male', 34.0522, -118.2434, 1, 624, 102)
(180413435, 2018, 3, 'March', '11-20', 'Hispanic', 'Female', 34.0299, -118.2037, 4, 860, 501)

In [3]:
# Query data from crime type table
crime_type_data = engine.execute("SELECT * FROM crime_type")

i = 0
for record in crime_type_data:
    print(record)
    i += 1
    if i == 10:
        break

(626, 'Domestic Violence')
(624, 'Assault')
(440, 'Theft, Robbery, or Burglary')
(480, 'Bike Theft')
(649, 'Forgery')
(860, 'Sexual Assualt or Rape')
(421, 'Burglary from Vehicle')
(740, 'Vandalism')
(341, 'Theft, Robbery, or Burglary')
(888, 'Trespassing')

In [4]:
# Query data from crime table
pdata = engine.execute("SELECT * FROM area")

i = 0
for record in data:
    print(record)
    i += 1
    if i == 10:
        break

(5, 'Harbor')
(12, '77th Street')
(2, 'Rampart')
(9, 'Van Nuys')
(11, 'Northeast')
(20, 'Olympic')
(14, 'Pacific')
(8, 'West LA')
(1, 'Central')
(4, 'Hollenbeck')

In [5]:
# Query data from crime table
data = engine.execute("SELECT * FROM premise")

i = 0
for record in data:
    print(record)
    i += 1
    if i == 10:
        break

(501, 'Residence')
(101, 'Freeway/Street')
(502, 'Residence')
(707, 'Residence')
(102, 'Sidewalk')
(103, 'Freeway/Street')
(108, 'Parking Lot/Garage')
(404, 'Store')
(203, 'Business')
(109, 'Park')