In [1]:
# import dependencies
import pandas as pd

In [2]:
# read csv file
file = "Resources\Crime_Data_from_2020_to_Present.csv"
la_crime = pd.read_csv(file, encoding="utf-8")
la_crime.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,1/8/2020 0:00,1/8/2020 0:00,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,1/2/2020 0:00,1/1/2020 0:00,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,4/14/2020 0:00,2/13/2020 0:00,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,1/1/2020 0:00,1/1/2020 0:00,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,1/1/2020 0:00,1/1/2020 0:00,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [3]:
la_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690454 entries, 0 to 690453
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           690454 non-null  int64
 1   Date Rptd       690454 non-null  object
 2   DATE OCC        690454 non-null  object
 3   TIME OCC        690454 non-null  int64
 4   AREA            690454 non-null  int64
 5   AREA NAME       690454 non-null  object
 6   Rpt Dist No     690454 non-null  int64
 7   Part 1-2        690454 non-null  int64
 8   Crm Cd          690454 non-null  int64
 9   Crm Cd Desc     690454 non-null  object
 10  Mocodes         595482 non-null  object
 11  Vict Age        690454 non-null  int64
 12  Vict Sex        599971 non-null  object
 13  Vict Descent    599965 non-null  object
 14  Premis Cd       690446 non-null  float64
 15  Premis Desc     690092 non-null  object
 16  Weapon Used Cd  239966 non-null  float64
 17  Weapon Desc     239966 non-null  object
 18  Status          690454 non-null  object
 19  Status Desc     690454 non-null  object
 20  Crm Cd 1        690445 non-null  float64
 21  Crm Cd 2        51536 non-null   float64
 22  Crm Cd 3        1733 non-null    float64
 23  Crm Cd 4        52 non-null      float64
 24  LOCATION        690454 non-null  object
 25  Cross Street    112242 non-null  object
 26  LAT             690454 non-null  float64
 27  LON             690454 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 147.5+ MB

In [8]:
# check values of LOCATION variables
print("Area Code") # use as primary key for LA Area table, keep as forign key in Crimes table
print("-" * 30)
print(la_crime["AREA"].value_counts())
print("*" * 74)
print("LA Area Name") # use in LA Area table
print("-" * 30)
print(la_crime["AREA NAME"].value_counts())
print("*" * 74)
print("District Number") # after inspection - not very informative
print("-" * 30)
print(la_crime["Rpt Dist No"].value_counts()) 
print("*" * 74)
print("Part 1-2") # after inspection - not very informative
print("-" * 30)
print(la_crime["Part 1-2"].value_counts()) 
print("*" * 74)
print("Location") # after inspection - not very informative
print("-" * 30)
print(la_crime["LOCATION"].value_counts()) 
print("*" * 74)
print("Premise Code") # use as primary key for Premise table, keep as forign key in Crimes table
print("-" * 30)
print(la_crime["Premis Cd"].value_counts()) 
print("*" * 74)
print("Premise Description") # use in Premise table (consider recode low counts into 'other' or filter these records out)
print("-" * 30)
print(la_crime["Premis Desc"].value_counts()) 
print("*" * 74)

Area Code
------------------------------
1     46118
12    43776
14    39776
3     38762
6     37113
18    35527
20    34645
15    34458
13    34343
7     32542
2     31909
8     31839
11    30016
9     29088
10    28832
5     28770
21    27870
17    27804
19    27769
4     26095
16    23402
Name: AREA, dtype: int64
**************************************************************************
LA Area Name
------------------------------
Central        46118
77th Street    43776
Pacific        39776
Southwest      38762
Hollywood      37113
Southeast      35527
Olympic        34645
N Hollywood    34458
Newton         34343
Wilshire       32542
Rampart        31909
West LA        31839
Northeast      30016
Van Nuys       29088
West Valley    28832
Harbor         28770
Topanga        27870
Devonshire     27804
Mission        27769
Hollenbeck     26095
Foothill       23402
Name: AREA NAME, dtype: int64
**************************************************************************
District Number
------------------------------
162     3697
645     3477
182     3266
646     3045
1494    2952
        ...
1666       1
944        1
772        1
945        1
700        1
Name: Rpt Dist No, Length: 1194, dtype: int64
**************************************************************************
Part 1-2
------------------------------
1    403252
2    287202
Name: Part 1-2, dtype: int64
**************************************************************************
Location
------------------------------
800 N  ALAMEDA                      ST      1256
7TH                                         1157
6TH                          ST             1139
7TH                          ST             1107
6TH                                         1082
                                            ...
8700    AMESTOY                      AV        1
SEPTO                                          1
10000    ILEX                         AV       1
7100    HIGHCLIFF                    TL        1
700    FLOWER                       CT         1
Name: LOCATION, Length: 61336, dtype: int64
**************************************************************************
Premise Code
------------------------------
101.0    174075
501.0    117217
502.0     84686
108.0     49521
203.0     31959
          ...
137.0         1
836.0         1
240.0         1
965.0         1
803.0         1
Name: Premis Cd, Length: 309, dtype: int64
**************************************************************************
Premise Description
------------------------------
STREET                                          174075
SINGLE FAMILY DWELLING                          117217
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)     84686
PARKING LOT                                      49521
OTHER BUSINESS                                   31959
                                                 ...
HORSE RACING/SANTA ANITA PARK*                       2
HARBOR FRWY STATION (NOT LINE SPECIFIC)              1
MTA - GOLD LINE - LITTLE TOKYO/ARTS DISTRICT         1
DEPT OF DEFENSE FACILITY                             1
TRAM/STREETCAR(BOXLIKE WAG ON RAILS)*                1
Name: Premis Desc, Length: 306, dtype: int64
**************************************************************************

In [5]:
# check values of VICTIM variables
print("Mocodes") # not sure what this code is; use DR_NO as the primary key for the Victim table
print("-" * 30)
print(la_crime["Mocodes"].value_counts())
print("*" * 74)
print("Victim Age") # Looks like some data points are inaccurate (e.g., is age 0 a baby or missing value?)
print("-" * 30)
print(la_crime["Vict Age"].value_counts())  
print("*" * 74)
print("Victim Gender") # Need to figure out what are Xs and what are Hs
print("-" * 30)
print(la_crime["Vict Sex"].value_counts())
print("*" * 74)
print("Victim Ethnicity") # Need to figure out all the codes
print("-" * 30)
print(la_crime["Vict Descent"].value_counts())
print("*" * 74)

Mocodes
------------------------------
344                                   28374
329                                   16007
1822 0344                              7888
1501                                   6866
0344 1822                              5647
                                      ...
1823 0413 0515 0513 0913 1402 2034        1
0344 0329 1609 1300 1307 0400             1
0344 1300 1606 1822 1213                  1
0100 1814 0913                            1
0344 0416 0446 0429                       1
Name: Mocodes, Length: 235585, dtype: int64
**************************************************************************
Victim Age
------------------------------
 0      167295
 30      15986
 35      15566
 31      15209
 29      15202
         ...
 97         51
 98         51
-1          36
-2           3
 120         1
Name: Vict Age, Length: 102, dtype: int64
**************************************************************************
Victim Gender
------------------------------
M    286935
F    255620
X     57336
H        80
Name: Vict Sex, dtype: int64
**************************************************************************
Victim Ethnicity
------------------------------
H    212455
W    142248
B     99709
X     63819
O     54631
A     15023
K      3610
F      2840
C      2519
J       948
V       677
I       663
Z       331
P       180
U       134
D        48
G        48
L        44
S        38
Name: Vict Descent, dtype: int64
**************************************************************************

In [9]:
# check values of CRIME TYPE variables
print("Crime Code") # use as primary key for Crime Type table, keep as forign key in Crimes table
print("-" * 30)
print(la_crime["Crm Cd"].value_counts())
print("*" * 74)
print("Crime Code Description") # use in Crime Type table (consider filtering out records that have low counts)
print("-" * 30)
print(la_crime["Crm Cd Desc"].value_counts())  
print("*" * 74)

Crime Code
------------------------------
510    74370
624    54412
354    45014
330    43293
740    42553
       ...
452        3
884        2
349        2
445        1
882        1
Name: Crm Cd, Length: 138, dtype: int64
**************************************************************************
Crime Code Description
------------------------------
VEHICLE - STOLEN                                           74370
BATTERY - SIMPLE ASSAULT                                   54412
THEFT OF IDENTITY                                          45014
BURGLARY FROM VEHICLE                                      43293
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)    42553
                                                           ...
PICKPOCKET, ATTEMPT                                            3
FAILURE TO DISPERSE                                            2
GRAND THEFT / AUTO REPAIR                                      2
DISHONEST EMPLOYEE ATTEMPTED THEFT                             1
INCITING A RIOT                                                1
Name: Crm Cd Desc, Length: 138, dtype: int64
**************************************************************************

In [10]:
# check values of CRIME variables
print("Weapon Used Code") 
print("-" * 30)
print(la_crime["Weapon Used Cd"].value_counts())
print("*" * 74)
print("Weapon Description") 
print("-" * 30)
print(la_crime["Weapon Desc"].value_counts())  
print("*" * 74)
print("Crime Status") # Need ro understand codes
print("-" * 30)
print(la_crime["Status"].value_counts())  
print("*" * 74)
print("Crime Code 1") 
print("-" * 30)
print(la_crime["Crm Cd 1"].value_counts())  
print("*" * 74)

Weapon Used Code
------------------------------
400.0    128861
500.0     24693
511.0     17620
102.0     14857
109.0      5525
          ...
120.0         4
119.0         2
123.0         1
121.0         1
124.0         1
Name: Weapon Used Cd, Length: 79, dtype: int64
**************************************************************************
Weapon Description
------------------------------
STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)    128861
UNKNOWN WEAPON/OTHER WEAPON                        24693
VERBAL THREAT                                      17620
HAND GUN                                           14857
SEMI-AUTOMATIC PISTOL                               5525
                                                   ...
MAC-11 SEMIAUTOMATIC ASSAULT WEAPON                    4
MAC-10 SEMIAUTOMATIC ASSAULT WEAPON                    2
M1-1 SEMIAUTOMATIC ASSAULT RIFLE                       1
HECKLER & KOCH 91 SEMIAUTOMATIC ASSAULT RIFLE          1
M-14 SEMIAUTOMATIC ASSAULT RIFLE                       1
Name: Weapon Desc, Length: 79, dtype: int64
**************************************************************************
Crime Status
------------------------------
IC    552013
AO     74941
AA     60242
JA      2141
JO      1114
CC         3
Name: Status, dtype: int64
**************************************************************************
Crime Code 1
------------------------------
510.0    74362
624.0    54657
354.0    45023
330.0    43331
740.0    42631
         ...
349.0        3
884.0        2
445.0        1
430.0        1
882.0        1
Name: Crm Cd 1, Length: 140, dtype: int64
**************************************************************************