In [1]:
# dependencies
from sqlalchemy import create_engine, inspect, MetaData, select, text
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base

Base = declarative_base()

# Create an engine that can talk to the database
engine = create_engine("sqlite:///Resources/la_crime.db", connect_args={'timeout': 30}, echo=False)

## Checking Database Data - using SQL

In [2]:
# Query data from crime table
crime_data = engine.execute("SELECT * FROM crime")

i = 0
for record in crime_data:
    print(record)
    i += 1
    if i == 10:
        break

(180512192, 2018, 6, 'June', '31-40', 'Hispanic', 'Female', 33.7932, -118.2648, 5, 626, 501)
(181211151, 2018, 4, 'April', '51-60', 'Hispanic', 'Female', 33.9891, -118.3167, 12, 624, 101)
(180220154, 2018, 9, 'September', '61-70', 'Hispanic', 'Female', 34.0529, -118.2733, 2, 624, 502)
(190909830, 2018, 10, 'October', '31-40', 'Hispanic', 'Female', 34.1867, -118.4181, 9, 440, 502)
(181113371, 2018, 7, 'July', '71+', 'White', 'Male', 34.1008, -118.2665, 11, 440, 501)
(182019832, 2018, 8, 'August', '31-40', 'Asian', 'Female', 34.0588, -118.2941, 20, 440, 502)
(181421617, 2018, 10, 'October', '31-40', 'White', 'Male', 34.029, -118.4032, 14, 480, 707)
(180810320, 2018, 5, 'May', '51-60', 'White', 'Male', 34.0711, -118.46700000000001, 8, 649, 501)
(180106451, 2018, 2, 'February', '21-30', 'Hispanic', 'Male', 34.0522, -118.2434, 1, 624, 102)
(180413435, 2018, 3, 'March', '11-20', 'Hispanic', 'Female', 34.0299, -118.2037, 4, 860, 501)

In [3]:
# Query data from crime type table
crime_type_data = engine.execute("SELECT * FROM crime_type")

i = 0
for record in crime_type_data:
    print(record)
    i += 1
    if i == 10:
        break

(626, 'Domestic Violence')
(624, 'Assault')
(440, 'Theft, Robbery, or Burglary')
(480, 'Bike Theft')
(649, 'Forgery')
(860, 'Sexual Assualt or Rape')
(421, 'Burglary from Vehicle')
(740, 'Vandalism')
(341, 'Theft, Robbery, or Burglary')
(888, 'Trespassing')

In [4]:
# Query data from crime table
area_data = engine.execute("SELECT * FROM area")

i = 0
for record in area_data:
    print(record)
    i += 1
    if i == 10:
        break

(5, 'Harbor')
(12, '77th Street')
(2, 'Rampart')
(9, 'Van Nuys')
(11, 'Northeast')
(20, 'Olympic')
(14, 'Pacific')
(8, 'West LA')
(1, 'Central')
(4, 'Hollenbeck')

In [5]:
# Query data from crime table
premise_data = engine.execute("SELECT * FROM premise")

i = 0
for record in premise_data:
    print(record)
    i += 1
    if i == 10:
        break

(501, 'Residence')
(101, 'Freeway/Street')
(502, 'Residence')
(707, 'Residence')
(102, 'Sidewalk')
(103, 'Freeway/Street')
(108, 'Parking Lot/Garage')
(404, 'Store')
(203, 'Business')
(109, 'Park')

## Joining the Tables

In [6]:
# creating database session
session = Session(engine)
Base = automap_base()
# Use the Base class to reflect the database tables
Base.prepare(engine = engine, reflect = True)

In [7]:
# Collect the names of tables within the database
inspector = inspect(engine)
inspector.get_table_names()

['area', 'crime', 'crime_type', 'premise']

In [8]:
# Using the inspector to print the column names within the 'crime' table and its types
columns = inspector.get_columns('crime')
for column in columns:
    print(column["name"], column["type"])

incident_id INTEGER
year INTEGER
month INTEGER
month_name TEXT
victim_age TEXT
victim_ethnicity TEXT
victim_gender TEXT
lat REAL
lon REAL
area_code INTEGER
crime_code INTEGER
premise_code INTEGER

In [9]:
# Reflect the database tables
metadata =  MetaData(bind=engine)
metadata.reflect()
crime_table = metadata.tables['crime']
area_table = metadata.tables['area']
crime_type_table = metadata.tables['crime_type']
premise_table = metadata.tables['premise']
crime_table

Table('crime', MetaData(bind=Engine(sqlite:///Resources/la_crime.db)), Column('incident_id', INTEGER(), table=<crime>), Column('year', INTEGER(), table=<crime>), Column('month', INTEGER(), table=<crime>), Column('month_name', TEXT(), table=<crime>), Column('victim_age', TEXT(), table=<crime>), Column('victim_ethnicity', TEXT(), table=<crime>), Column('victim_gender', TEXT(), table=<crime>), Column('lat', REAL(), table=<crime>), Column('lon', REAL(), table=<crime>), Column('area_code', INTEGER(), table=<crime>), Column('crime_code', INTEGER(), table=<crime>), Column('premise_code', INTEGER(), table=<crime>), schema=None)

In [10]:
# Select the crime table
crime_type_tb = engine.execute(select([crime_type_table]))

# Get all the rows
rows = crime_type_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

49
(626, 'Domestic Violence')

In [11]:
# Select the crime type table
crime_tb = engine.execute(select([crime_table]))

# Get all the rows
rows = crime_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

757085
(180512192, 2018, 6, 'June', '31-40', 'Hispanic', 'Female', 33.7932, -118.2648, 5, 626, 501)

In [12]:
# Select the area table
area_tb = engine.execute(select([area_table]))

# Get all the rows
rows = area_tb.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

21
(5, 'Harbor')

In [13]:
# Select the premise table
premise = engine.execute(select([premise_table]))

# Get all the rows
rows = premise.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

93
(501, 'Residence')

In [14]:
# Define the SQL query
sql = text("""SELECT * 
            FROM crime
            LEFT JOIN area ON crime.area_code = area.area_code
            LEFT JOIN premise ON crime.premise_code = premise.premise_code
            LEFT JOIN crime_type ON crime.crime_code = crime_type.crime_code""")

# Execute the SQL query
la_crime = engine.execute(sql)

In [15]:
# Print the column names
print(f"Columns: {la_crime.keys()}")

Columns: ['incident_id', 'year', 'month', 'month_name', 'victim_age', 'victim_ethnicity', 'victim_gender', 'lat', 'lon', 'area_code', 'crime_code', 'premise_code', 'area_code', 'area_name', 'premise_code', 'premise', 'crime_code', 'crime']

In [16]:
# Get all the rows
rows = la_crime.fetchall()

# Print the number of rows
print(len(rows))

# Print the first row
print(rows[0])

757085
(180512192, 2018, 6, 'June', '31-40', 'Hispanic', 'Female', 33.7932, -118.2648, 5, 626, 501, 5, 'Harbor', 501, 'Residence', 626, 'Domestic Violence')

In [17]:
view_query = text("""CREATE VIEW joined_view AS
            SELECT * 
            FROM crime
            LEFT JOIN area ON crime.area_code = area.area_code
            LEFT JOIN premise ON crime.premise_code = premise.premise_code
            LEFT JOIN crime_type ON crime.crime_code = crime_type.crime_code""")
# Execute the query to create the view
session.execute(view_query)

# Commit the transaction to save the view to the database
session.commit()

OperationalError: (sqlite3.OperationalError) database is locked
[SQL: CREATE VIEW joined_view AS
            SELECT *
            FROM crime
            LEFT JOIN area ON crime.area_code = area.area_code
            LEFT JOIN premise ON crime.premise_code = premise.premise_code
            LEFT JOIN crime_type ON crime.crime_code = crime_type.crime_code]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Data Queries - using SQLAlchamey